#!/sbin/openrc-run

command="/usr/local/q-ui/q-ui"
command_background=true
pidfile="/run/q-ui.pid"
description="q-ui Service"
procname="q-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/q-ui
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}